<div class="jumbotron">
        <h1 class ="title">Chronooz</h1>
        <p class"lead">Don't know what the latest news are talking about? <br/>
          Are you missing a particular news context? Find it out here! <br/>
          By using Chronooz you can look at related events, go through news timelines, and much more!
        </p>
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>-->
</div>

<h1 class="text-center"> Headlines </h1>

<% @result["articles"].each do |article| %>

  <div class="container well text-center">
    <% @head = article["title"] %>
    <h2><%= link_to article["title"], show_path(@head)  %></h2>
    <a href=<%=article["url"]%> ><img src=<%= article["urlToImage"] %> class="img-responsive img-thumbnail" ></a>
    <!--height=60 width=auto-->
    <div>
      <%= article["publishedAt"].to_s[0,10].split("-").reverse.join("-") %>
    </div>
  </div>

  <br/>
<% end %>

