<div class="jumbotron">
        <h1 class ="title">Chronooz</h1>
        <p class = "descr">Don't know what the latest news are talking about? <br/>
          Are you missing context to understan them?  <br/>
          Chronooz gathers popular news from more than 58 sources and gives you a timeline of related events.
          Everything to catch up with current events is now in one place!
        </p>
  
</div>

<h1 class="text-center"> Headlines </h1>
<h5 class="text-center"> (Click on a image or title to start!)</h5>

<% @result["articles"].each do |article| %>

  <div class="container well text-center">
    <% @head = article["title"] %>
    <h2><%= link_to article["title"], show_path(@head)  %></h2>
    <a href=<%=article["url"]%> ><img src=<%= article["urlToImage"] %> class="img-responsive img-thumbnail" ></a>
    <!--height=60 width=auto-->
    <div>
      <%= article["publishedAt"].to_s[0,10].split("-").reverse.join("-") %>
    </div>
  </div>

  <br/>
<% end %>

